@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@layer utilities {
  .animate-slide-in-left {
    animation: slideInLeft 0.7s ease-out forwards;
  }
  .animate-slide-in-right {
    animation: slideInRight 0.7s ease-out forwards;
  }
}
